body{
	font-family: arial, sans-serif;
	font-size: 13px;
	line-height: 27px;
	margin: 0;
	text-align: center;
	position: absolute; top: 0; left: 0; height: 100%; width: 100%;
}
.flex-container{
	display: flex;
	flex-direction: column;
	align-content: space-between;
}
button, #submit{
	font-weight: bold;
	border-radius: 2px;
	background-color: #f2f2f2;
	height: 36px;
	color: #757575;
	padding: 0 16px;
	margin: 11px 4px;
	min-width: 54px;
	text-align: center;
	border: 1px solid #f2f2f2;
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
}
.btn_centre:hover, #submit:hover{
	background-color: #f8f8f8;
	border: 1px solid #c6c6c6;
	color: #222;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.btn_bleu{
	color: #fff;
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	border-radius: 2px;
	border: 1px solid #4285f4;
	padding: 0 12px;
	line-height: 28px;
}
.btn_bleu:hover, #gros_boutton{
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.footer_bar{
	color: rgba(0,0,0,.54);
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	line-height: 40px;
	padding-left: 47px;
	height: 100%;
}
#localisation{
	font-size: 15px;
}
a{
	text-decoration: none;
}
footer p{
	margin-bottom: 0;
}
#gros_boutton{
	margin: auto;
	background-color: dodgerblue;
	color: white;
	width: 300px;
	line-height: 40px;
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	font-weight: bold;
	padding: 0 12px;
	text-align: center;
	position: absolute;
	top: 40%;
	left: 40%;
}
form{
	text-align: center;
	flex-grow: 8;
	display: flex;
	justify-content: center;
	align-items: center;
}
header{
	flex-grow: 1;
	text-align: right;
}
footer{
	flex-grow: 1;
	position: absolute;
	bottom: 0;
	width: 100%;
}
#element_centre{
	height: 50%;
}
#element_centre img{
	height: 50%;
	margin: 40px;
}
#element_centre input{
	display: block;
	height: 34px;
	width: 500px;
	margin: 40px;
	position: relative;
	left: 30%;
}